.message_list {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
  margin: 10px;
  border: #f381a7 1px solid;
  border-radius: 20px;
  width: fit-content;
}

.message_list_author {
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(128, 223, 207);
  border-radius: 10px;
  padding: 5px 10px;
  width: fit-content;
}
.message_list_text {
  margin: 5px 0;
  font-size: 14px;
}
